main
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container 
{
    display: flex;
    flex: 1 1 90%;
    gap: 1rem;
    padding: 0 1rem 1rem;
    margin-top: 1rem;
    overflow: hidden;
}

.loginBox
{
    background-color: rgba(12, 12, 12, 0.377);
    border-radius: 20px;
    padding: 30px 60px 30px 30px;
    height: fit-content;
    width: 30rem;
    position: relative;
        top: 25%;
        left: 2%;
}

label
{
    display: block;
    margin-top: 1rem;
}

input
{
    color: black;
    font-size: 1.2rem;
    height: fit-content;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.loginButton
{
    display: inline;
    margin-left: 1rem;
}

.loginButton a
{
    display: block;
    margin-top: 0.5rem;
}